
<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Species:</strong>
  <%= @pet.species.name if @pet.species %>
</p>

<%= image_tag @pet.photo %>

<p><%= buy_pet_link(@pet) %></p>

<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
