<!DOCTYPE html>
<html>
<head>
  <title>PetAPorter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>
  <%=link_to "Pets", pets_url %>
  <%=link_to "Species", species_index_url %>
</div>
<div style="float:right;">
  <% if current_user %>
    Welcome, <%= current_user.email %>!

    Log out <%= link_to "here", logout_path %>

  <% else %>

    Log in <%= link_to "here", new_session_path %> or
    <%= link_to "register", new_user_path %>

  <% end %>
</div>

<p id="notice"><%= notice %></p>

<%= yield %>

</body>
</html>
